<app-menu-lateral></app-menu-lateral>
<div class="conteudoContato">
    <mat-card class="example-card">




        <form class="example-form">
            <mat-card-header>
                <mat-card-title>EMPORIO'S</mat-card-title>
            </mat-card-header>
            <p>
                <mat-form-field class="example-full-width">
                    <mat-label>Nome</mat-label>
                    <input matInput placeholder="Primeiro nome">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field class="example-full-width">
                    <mat-label>Mensagem</mat-label>
                    <textarea matInput placeholder="Escreva aqui sua mensagem" maxlength="256"></textarea>
                </mat-form-field>
            </p>

            <p>
                <button mat-flat-button color="primary">Enviar Messagem</button>
            </p>
        </form>




    </mat-card>
</div>