<div class="menu-lateral">
    <app-button-logo></app-button-logo>
    <br/>
    <h1>Bem Vindo!!</h1>
    <div class="menusub">

        <button mat-fab color="accent" class="buttonSocial"><mat-icon title="Enviar Email" routerLink="/contato">email</mat-icon></button>
        <button mat-fab color="accent" class="buttonSocial"><mat-icon title="Instagram">thumb_up_alt</mat-icon></button>
        <button mat-fab color="accent" class="buttonSocial"><mat-icon title="Facebook">facebook</mat-icon></button>

    </div>


</div>