    .tab {
        background-color: rgba(194, 175, 3, 0.753);
        padding-left: 10px;
        width: 50%;
        display: flex;
        margin: 0 auto;
        padding-bottom: 3%;
    }
    
    mat-accordion {
        margin-top: 3%;
    }
    
    .subtab1 {
        width: 40%;
    }
    
    .example-action-buttons {
        padding-bottom: 20px;
    }
    
    .example-headers-align .mat-expansion-panel-header-title,
    .example-headers-align .mat-expansion-panel-header-description {
        flex-basis: 0;
    }
    
    .example-headers-align .mat-expansion-panel-header-description {
        justify-content: space-between;
        align-items: center;
    }
    
    .example-headers-align .mat-form-field+.mat-form-field {
        margin-left: 8px;
    }