<app-submenu></app-submenu>
<div class="b">

    <mat-selection-list #bebidas (selectionChange)="Selecionado($event,bebidas.selectedOptions)">
        <!--<h1>BEBIDAS</h1>
        <div class="conteudoBebida">
            <div class="bebida1">
                <h2>Refrigerantes</h2>
                <mat-list-option *ngFor="let refri of   typesOfrefri" [value]="refri">
                    {{refri}}
                </mat-list-option>
            </div>

            <div class="bebida2">
                <h2>Cervejas</h2>
                <mat-list-option *ngFor="let  cerveja of   typesOfbeer" [value]="cerveja">
                    {{cerveja}}
                </mat-list-option>
            </div>

            <div class="bebida2">
                <h2>Água</h2>
                <mat-list-option *ngFor="let  agua of   typesOfWater" [value]="agua">
                    {{agua}}
                </mat-list-option>
            </div>
        </div>

        <mat-divider></mat-divider>
    -->
        <div class="conteudoComida">
            <h1>APERITIVOS</h1>
            <mat-list-option *ngFor="let  eat of typesOfeat" [value]="eat.nome">
                {{eat.nome}}
            </mat-list-option>
            <button mat-flat-button id="btOK">OK</button>
        </div>

    </mat-selection-list>
</div>