   .b {
       background-color: darkgoldenrod;
       width: 100%;
       height: 100%;
       font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       text-align: center;
       border-color: black;
       border: 2px blue dashed;
   }
   
   .bebida1 {
       float: left;
       width: 30%;
       height: auto;
       margin-left: 2%;
       border: 2px blue dashed;
   }
   
   .bebida2 {
       float: right;
       width: 33%;
       height: auto;
       border: 2px blue dashed;
   }
   
   .conteudoComida {
       width: 50%;
       height: auto;
       margin-top: 20%;
       text-align: center;
       font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       border: 2px blue dashed;
   }
   
   #btOK {
       width: 100px;
   }