<app-menu-lateral></app-menu-lateral>
<div class="conteudo">

    <app-button-logo></app-button-logo>

    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Cliente</mat-card-title>

        </mat-card-header>

        <mat-card-content>
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button routerLink="/cliente">ENTRAR</button>

        </mat-card-actions>
    </mat-card>

    <mat-card class="cardAdmin">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Administrador</mat-card-title>

        </mat-card-header>

        <mat-card-content>
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button routerLink="/adm">ENTRAR</button>

        </mat-card-actions>
    </mat-card>


</div>